<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>CSS User Profile Card</title>
    <link rel="stylesheet" href="{% static 'profilecss.css' %}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="left">
        <img src="https://i.imgur.com/cMy8V5j.png"
             alt="user" width="100">
        <h4>Alex William</h4>
        <p>UI Developer</p>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                <div class="data">
                    <h2>Email</h2>
                    <h4>alex@gmail.com</h4>
                </div>
                <div class="data">
                    <h2>Phone</h2>
                    <h4>0001-213-998761</h4>
                </div>
            </div>
        </div>

        <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                <div class="data">
                    <h2>Recent</h2>
                    <h4>lorem100</h4>
                </div>
                <div class="data">
                    <h2>Most Viewed</h2>
                    <h4>dolor sit amet.</h4>
                </div>
            </div>
        </div>
        <button type="button" class="update" onclick="location.href='exitprofile.html'">수정</button>
        <!-- <div class="social_media">
           <ul>
             <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
             <li><a href="#"><i class="fab fa-twitter"></i></a></li>
             <li><a href="#"><i class="fab fa-instagram"></i></a></li>
         </ul>
     </div> -->
    </div>
</div>

</body>
</html>