{% extends 'index.html' %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
    성별:<input type="radio" name = "gender" value="male">남성
    <input type="radio" name="gender" value="female">여성
    <select name="questions" id="">
           <option value="fathername">아버지 성함은?</option>
           <option value="number">잃어버렸을때 비밀번호</option>
           <option value="specialname">당신의 별명은? </option>
    </select>
    </form>
</body>
</html>
{% endblock %}